---
title: "About"
layout: default
permalink: about/
pagination: 
    enabled: true
    collection: team
    tag: active
    sort_reverse: false
    sort_field: 'name'
---

<section class="section">
    <div class="container">
        <div class="content">
            <h1 data-i18n="About DESI">About DESI</h1>
            <div class="columns">
                <div class="column">
                    <p data-i18n="About DESI 1">
                        The <strong>Dark Energy Spectroscopic Instrument (DESI)</strong> is a cosmological survey that aims to map the large-scale structure of the universe and understand the nature of dark energy. 
                        It will measure the spectra of millions of galaxies and quasars, that the DESI scientists will analyse to constrain the cosmological models that describe the evolution of the universe.
                    </p>    
                    <p data-i18n="About DESI 2">
                        DESI is a collaboration of scientists and engineers from around the world, working together to build and operate a state-of-the-art spectrograph at the Mayall Telescope in Arizona.
                    </p>
                    <p>
                        <a href="https://desi.lbl.gov/" target="_blank" data-i18n="Learn more about DESI">Learn more about DESI</a>
                    </p>
                </div>
                <div class="column is-narrow">
                    <figure class="image">
                        <img src="assets/img/logos/desi_logo_dark.png" alt="DESI Logo" style="width: 350px; height: auto;">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="is-hidden-desktop">

<section class="section">
    <div class="container">
        <div class="content">
            <h1 data-i18n="About DESI High">About DESI High</h1>
            <p data-i18n="About DESI High 1">
                <strong>DESI High</strong> is an outreach initiative that aims to bring the excitement of cosmology and astrophysics to high school students (and older). 
                It provides a set of resources, including notebooks, videos, and other educational materials, to help students learn about the universe and the science behind DESI.
                By using real DESI data, students can explore the universe, learn how to analyse astronomical data, and develop programming skills.
            </p>
        </div>
    
        <div class="content">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h2 data-i18n="Meet the team!">Meet the team!</h2>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <p>
                            <a href="legacy/" class="button is-primary is-outlined is-small" data-i18n="Legacy members">Legacy members</a>
                        </p>
                    </div>
                </div>
            </div>
            
            {% assign placeholder_img = "https://bulma.io/assets/images/placeholders/128x128.png" %}
            {% for member in paginator.posts %}
            <hr>
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="{{ member.image | default: placeholder_img }}" alt="{{ member.name }}" style="max-width: 64px; max-height: 64px; object-fit: cover;">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <h3>{{ member.name }}</h3>
                        <div data-i18n="team/{{ member.name | slugify }}">
                            {{ member.content | markdownify }}
                        </div>
                    </div>
                    <div class="subtitle is-7">
                        <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                    </div>
                </div>
                <div class="media-right">
                    <nav class="level is-mobile">
                        <div class="level-right">
                            {% for social in member.social %}
                            <span class="icon is-medium">
                                <a class="has-text-text" href="{{ social.url }}" target="_blank">
                                    {% assign brand_icon = "fa-brands fa-" | append: social.name %}
                                    {% assign fa_icon = social.icon | default: brand_icon %}
                                    <i class="fa-lg {{ fa_icon }}"></i>
                                </a>
                            </span>    
                            {% endfor %}
                        </div>
                    </nav>
                </div>
            </article>
            {% endfor %}
            <hr>
        </div>
        {% include pagination.html hide_1=true %}
    </div>
</section>