---
title: Curriculum
layout: default
root: https://mybinder.org/v2/gh/DESIHIGH/desihigh/
branch: main
extra: ?urlpath=tree/
---

{% include welcome_hero.html title="Welcome to DESI High!" subtitle="School of the Dark Universe" darken=0.3 blur=1 %}

<section class="section">
    <div class="container">

        <div class="content">
            <div class="notification is-danger">
                <button class="delete"></button>
                    <span data-i18n="Curriculums update">
                    ⚠️ <strong>Note:</strong> The curriculums are in development. Please check back soon to see the latest updates!
                </span>
            </div>

            <div class="notification is-warning is-light">
                <button class="delete"></button>
                <span data-i18n="Curriculums lost">
                    <strong>🤔 Are you lost?</strong>
                    Check out the <a href="intro.html">introduction</a> to know where to start.
                </span>
            </div>
        </div>

        {% include static_translations.html name="Curriculums intro" %}

        <hr>

        <div class="content">
            <h2 id="curriculums-overview" data-i18n="Curriculums Overview">Curriculums Overview</h2>
            <ul>
                {% for curriculum in site.data.curriculums.curriculums %}
                <li>
                    <a href="#{{ curriculum.name | slugify }}" data-i18n="Curriculums/{{ curriculum.name }}">{{ curriculum.name }}</a>
                    -
                    <span data-i18n="Curriculums/{{ curriculum.name }}-excerpt">{{ curriculum.excerpt }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <hr>

        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <!-- First, loop over curriculums to create the panels -->
                {% for curriculum in site.data.curriculums.curriculums %}
                {% assign color = curriculum.color | default: "is-warning" %}
                <nav class="panel {{ color }}" id="{{ curriculum.name | slugify }}">
                    <div class="panel-heading">
                        <p data-i18n="Curriculums/{{ curriculum.name }}">{{ curriculum.name }}</p>
                        <p class="is-size-6 has-text-weight-light" data-i18n="Curriculums/{{ curriculum.name }}-excerpt">{{ curriculum.excerpt }}</p>
                    </div>

                    <div class="panel-block is-hidden">
                        <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Search" />
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                        </p>
                    </div>

                    {% assign panels = "Exercises, Solutions" | split: ", " %}
                    {% for panel in panels %}
                    <div id="Panel-{{ panel }}" class="{% unless panel == panels[0] %}is-hidden{% endunless %}">
                        <p class="panel-tabs">
                            {% for p in panels %}
                                {% if panel == p %}
                                <a class="panel-tab is-active" data-i18n="{{ p }}">
                                    {{ p }}
                                </a>
                                {% else %}
                                <a class="panel-tab" data-i18n="{{ p }}" onclick="unhideElement('{{ curriculum.name | slugify }}', 'Panel-{{ p }}', 'Panel-')">
                                    {{ p }}
                                </a>
                                {% endif %}
                            {% endfor %}
                        </p>

                        <!-- Then, loop over languages to create hidden div with panel-tabs for each language -->
                        {% for lang in site.data.lang %}
                        <div id="hide-{{ lang.code }}">
                            {% for nb in curriculum.files %}
                                <!-- Notebook files logic -->
                                {% assign icon = nb.icon | default: "fas fa-book" %}
                                {% assign filetype = nb.type | default: "notebooks" | append: "/" %}
                                {% assign file = site.data.curriculums.files[nb.tag] %}
                                {% assign filename = file.filename %}

                                <!-- Language logic: Open folder in root unless if an url is given -->
                                {% if site.show_untranslated_notebooks and file[lang.code] %}
                                    {% assign nb_lang = lang.name_en | append: "/" %}
                                    {% assign code = lang.code %}
                                {% else %}
                                    {% assign nb_lang = "English/" %}
                                    {% assign code = "en" %}
                                {% endif %}
                                {% assign name = file[code].name %}
                                {% assign folder = panel | downcase | strip | append: "/" %}
                                {% unless file[code].url %}
                                    {% if filename %}
                                        {% assign url = page.root | append: page.branch | append: page.extra | append: filetype | append: nb_lang | append: folder | append: filename %}
                                    {% else %}
                                        {% assign url = "" %}
                                    {% endif %}
                                {% else %}
                                    {% assign url = file[code].url %}
                                {% endunless %}
                                
                                <a class="panel-block is-block" onclick="openFile('{{ url }}')">
                                    <div class="container">
                                        <nav class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <span class="panel-icon">
                                                        <i class="{{ icon }}" aria-hidden="true"></i>
                                                    </span>
                                                    {{ name }}
                                                    <!-- If no link, display broken link icon -->
                                                    {% if url == "" %}
                                                        <span class="ml-1 icon has-text-danger" title="No link available">
                                                            <i class="fas fa-unlink"></i>
                                                        </span>
                                                    {% endif %}
                                                    <!-- If untranslated notebook, display english language flag besides -->
                                                    {% if code == "en" and lang.code != "en" %}
                                                        <img class="ml-2" src="assets/img/lang/en.png" alt="Untranslated" title="File only available in English" style="height: 1em;">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="level-right">
                                            {% if nb.level %}
                                                {% assign level_class = "" %}
                                                {% if nb.level == "Easy" %}
                                                    {% assign level_class = "is-success" %}
                                                {% elsif nb.level == "Medium" %}
                                                    {% assign level_class = "is-warning" %}
                                                {% elsif nb.level == "Hard" %}
                                                    {% assign level_class = "is-danger" %}
                                                {% endif %}
                                                <div class="level-item">
                                                    <span class="tag {{ level_class }}" data-i18n="{{ nb.level }}">{{ nb.level }}</span>
                                                </div>
                                            {% endif %}
                                            </div>
                                        </nav>
                                    </div>
                                </a>

                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </nav>
                {% endfor %}
            </div>
        </div>
    </div>
</section>