---
title: "School of the Dark Universe"
layout: default
---

{% include welcome_hero.html hero_size="is-large" title="Welcome to DESI High!" subtitle="School of the Dark Universe" darken=0.3 blur=1 %}

<!-- <section class="section"> -->
    <div class="container">
        <div class="content">
            <div class="notification is-warning">
                <div class="content" data-i18n="Welcome intro">
                    {% include static_translations.html name="Welcome intro" %}
                </div>

                <p>
                    <a class="button is-light is-outlined" href="intro.html" data-i18n="Let's start!">Let's start!</a>
                </p>
            </div>
        </div>
    </div>
<!-- </section> -->

<section class="section">
    <div class="container">
        <div class="content">
            <div class="notification is-info">
                <div class="content">
                    <strong>Teachers</strong>
                    <p data-i18n="Teachers intro">
                        🏫 Have a classroom full of students potentially interested in DESI High? 
                        We have an elite team of scientists from across the globe ready to get things started for you! 
                    </p>
                </div>
                <p>
                    <a class="button is-light is-outlined" href="contact.html" data-i18n="Contact us!">Contact us!</a>
                </p>

                <div class="content">
                    <p data-i18n="Teachers intro 2">
                        📎Or, check our ressources and teachers pages to find out how to get started with your class.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include post_carousel.html posts=site.news title="Latest News" reverse=true permalink="news/" %}

{% include post_carousel.html posts=site.events title="Upcoming Events" reverse=true permalink="events/" %}

<div style="position: fixed; bottom: 2%; right: 1%; z-index: 1000; max-width: 450px;">
    <div class="notification is-warning is-light">
        <button class="delete"></button>
        <div class="content">
            <p><strong data-i18n="Mail info 1"> 📬 You've got mail!</strong></p>
            <p data-i18n="Mail info 2">👉 Click here to read the welcome letter to DESI High students.</p>
        </div>
        <div style="display: flex; justify-content: center;">
            <a class="button is-dark" href="intro.html#saul-letter" data-i18n="Read">✉️ Read</a>
        </div>
    </div>
</div>