---
layout: default
title: Quickstart
---

<section class="section">
    <div class="container">
        <div class="content">

            <h1 data-i18n="Welcome to DESI High!">Welcome to DESI High!</h1>

            {% include static_translations.html name="Introduction content" %}

            <p>
                <a class="button is-warning is-inverted" href="curriculum.html" data-i18n="Let's start!">Let's start!</a>
            </p>

        <!-- </div> -->
            <div class="notification is-success">
                <div class="columns">
                    <div class="column has-text-left">
                        <span class="title is-size-4">
                            <i class="fas fa-lightbulb"></i> 
                            &nbsp;
                            <span data-i18n="Pro tips:">Pro tips: </span>
                        </span>
                    </div>
                    <div class="column is-narrow is-hidden-touch">
                        <i class="fab fa-lg fa-google"></i>
                        &nbsp;
                        <i class="fab fa-lg fa-stack-overflow"></i>
                        &nbsp;
                        <i class="fas fa-lg fa-comments"></i>
                    </div>
                </div>
                
                {% include static_translations.html name="Pro tips" %}

                <div class="is-hidden-desktop has-text-centered">
                    <i class="fab fa-lg fa-google"></i>
                    &nbsp;
                    <i class="fab fa-lg fa-stack-overflow"></i>
                    &nbsp;
                    <i class="fas fa-lg fa-comments"></i>
                </div>

                </p>
            </div>
        </div>
    </div>
</section>