---
layout: default
title: News
permalink: news/
display_lang_filter: false
pagination: 
    enabled: true
    collection: news
---
{% include welcome_hero.html page_number=paginator.page title="Welcome to DESI High!" subtitle="School of the Dark Universe" darken=0.3 blur=1 %}
<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="content">
                    <h1 data-i18n="News">News</h1>
                    <p data-i18n="News intro">Stay updated with the last news and announcements from DESI High! For more DESI News, follow us on <a href="#social-icons">social media</a>!</p>
                </div>
            </div>
            <div class="level-right">
                {% if page.display_lang_filter %}
                    {% include language_selector.html page_number=paginator.page %}
                {% endif %}
            </div>
        </div>

        <div class="content">
            <hr>
                {% include paginator_posts.html %}
            <hr>
        </div>

        {% include pagination.html display_number=5 size="is-small" %}

    </div>
</section>