---
title: Terms & Privacy
layout: default
---

<section class="section">
    <div class="container">
        <div class="content">
            <h1>Terms & Privacy</h1>
            <p class="subtitle is-7">Last updated: {{ site.time | date: "%B %d, %Y" }}</p>
        </div>
        
        <hr>

        {% for lang in site.data.lang %}
        <div class="content" id="hide-{{ lang.code }}">
            <!-- In theory, only 1 term per language -->
            {% assign term = site.terms | where: "lang", lang.code | where: "type", "code" | first %}
            {% if term %}
                {{ term.content | markdownify }}
            {% else %}
                {% assign code_of_conduct = site.terms | where: "lang", "en" | where: "type", "code" | first %}
                <!-- Fallback to English code of conduct if not found in the current language -->
                {{ code_of_conduct.content | markdownify }}
            {% endif %}
        </div>
        {% endfor %}

        <hr>

        {% for lang in site.data.lang %}
        <div class="content" id="hide-{{ lang.code }}">
            <!-- In theory, only 1 term per language -->
            {% assign term = site.terms | where: "lang", lang.code | where: "type", "privacy" | first %}
            {% if term %}
                {{ term.content | markdownify }}
            {% else %}
                {% assign privacy_policy = site.terms | where: "lang", "en" | where: "type", "privacy" | first %}
                <!-- Fallback to English privacy policy if not found in the current language -->
                {{ privacy_policy.content | markdownify }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>